<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">
  <div>
    <input type="text" formControlName="firstName" placeholder="first name">
  </div>
  <br>
  <div>
    <input type="text" formControlName="lastName" placeholder="last name">
  </div>
  <br>
  <div>
    <input type="text" formControlName="email" placeholder="E-mail">
  </div>
  <br>
  <div>
    <input type="number" formControlName="age" placeholder="Age" min="0" max="99">
  </div>
  <br>
  <div>
    <button>Submit</button>
  </div>
</form>
